USE [master]
GO
/****** Object:  Database [RecruitmentDB]    Script Date: 04-06-2026 12:52:40 ******/
CREATE DATABASE [RecruitmentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RecruitmentDB', FILENAME = N'C:\Users\Archana Iyar\RecruitmentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RecruitmentDB_log', FILENAME = N'C:\Users\Archana Iyar\RecruitmentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RecruitmentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RecruitmentDB]
GO
/****** Object:  UserDefinedTableType [dbo].[UserBulkInsert_Type]    Script Date: 04-06-2026 12:52:40 ******/
CREATE TYPE [dbo].[UserBulkInsert_Type] AS TABLE(
	[FullName] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Role] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[PasswordHash] [varchar](500) NULL,
	[CreatedBy] [varchar](100) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetTotalApplications]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetTotalApplications]
(
    @CandidateId INT
)
RETURNS INT
AS
BEGIN

    DECLARE @Total INT;

    SELECT @Total = COUNT(*)
    FROM tbl_Application
    WHERE candidate_id = @CandidateId;

    RETURN @Total;

END;
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](200) NOT NULL,
	[email] [varchar](200) NOT NULL,
	[phone] [varchar](20) NULL,
	[role] [varchar](50) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password_hash] [varchar](500) NOT NULL,
	[is_active] [bit] NULL,
	[created_on] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[updated_on] [datetime] NULL,
	[updated_by] [varchar](100) NULL,
	[user_guid] [varchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_JobPosting]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_JobPosting](
	[job_posting_id] [int] IDENTITY(1,1) NOT NULL,
	[job_role_id] [int] NOT NULL,
	[job_title] [varchar](200) NOT NULL,
	[openings] [int] NOT NULL,
	[description] [varchar](1000) NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[is_active] [bit] NULL,
	[created_on] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[updated_on] [datetime] NULL,
	[updated_by] [varchar](100) NULL,
	[job_posting_guid] [varchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[job_posting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Application]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Application](
	[application_id] [int] IDENTITY(1,1) NOT NULL,
	[candidate_id] [int] NOT NULL,
	[job_posting_id] [int] NOT NULL,
	[application_status] [varchar](50) NULL,
	[applied_date] [datetime] NULL,
	[remarks] [varchar](1000) NULL,
	[is_active] [bit] NULL,
	[created_on] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[updated_on] [datetime] NULL,
	[updated_by] [varchar](100) NULL,
	[application_guid] [varchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CandidateApplications]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_CandidateApplications]
AS
SELECT
    a.application_guid,
    u.full_name,
    jp.job_title,
    a.application_status,
    a.applied_date
FROM tbl_Application a
INNER JOIN tbl_User u
    ON a.candidate_id = u.user_id
INNER JOIN tbl_JobPosting jp
    ON a.job_posting_id = jp.job_posting_id;
GO
/****** Object:  Table [dbo].[mst_JobRole]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_JobRole](
	[job_role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](100) NOT NULL,
	[is_active] [bit] NULL,
	[created_on] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[updated_on] [datetime] NULL,
	[updated_by] [varchar](100) NULL,
	[job_role_guid] [varchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[job_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ErrorLog]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ErrorLog](
	[error_log_id] [int] IDENTITY(1,1) NOT NULL,
	[error_message] [varchar](max) NOT NULL,
	[stack_trace] [varchar](max) NULL,
	[controller_name] [varchar](200) NULL,
	[method_name] [varchar](200) NULL,
	[created_on] [datetime] NULL,
	[error_log_guid] [varchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[error_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Interview]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Interview](
	[interview_id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[interviewer_id] [int] NOT NULL,
	[interview_date] [datetime] NOT NULL,
	[feedback] [varchar](2000) NULL,
	[result] [varchar](50) NULL,
	[is_active] [bit] NOT NULL,
	[created_on] [datetime] NOT NULL,
	[created_by] [varchar](100) NOT NULL,
	[updated_on] [datetime] NULL,
	[updated_by] [varchar](100) NULL,
	[interview_guid] [varchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[interview_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_tbl_Application_Candidate]    Script Date: 04-06-2026 12:52:40 ******/
CREATE NONCLUSTERED INDEX [IX_tbl_Application_Candidate] ON [dbo].[tbl_Application]
(
	[candidate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tbl_JobPosting_Title]    Script Date: 04-06-2026 12:52:40 ******/
CREATE NONCLUSTERED INDEX [IX_tbl_JobPosting_Title] ON [dbo].[tbl_JobPosting]
(
	[job_title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tbl_User_Username]    Script Date: 04-06-2026 12:52:40 ******/
CREATE NONCLUSTERED INDEX [IX_tbl_User_Username] ON [dbo].[tbl_User]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[mst_JobRole] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[mst_JobRole] ADD  DEFAULT (getutcdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[mst_JobRole] ADD  DEFAULT ('SYSTEM') FOR [created_by]
GO
ALTER TABLE [dbo].[mst_JobRole] ADD  DEFAULT (replace(CONVERT([varchar](36),newid()),'-','')) FOR [job_role_guid]
GO
ALTER TABLE [dbo].[tbl_Application] ADD  DEFAULT ('Applied') FOR [application_status]
GO
ALTER TABLE [dbo].[tbl_Application] ADD  DEFAULT (getutcdate()) FOR [applied_date]
GO
ALTER TABLE [dbo].[tbl_Application] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tbl_Application] ADD  DEFAULT (getutcdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[tbl_Application] ADD  DEFAULT ('SYSTEM') FOR [created_by]
GO
ALTER TABLE [dbo].[tbl_Application] ADD  DEFAULT (replace(CONVERT([varchar](36),newid()),'-','')) FOR [application_guid]
GO
ALTER TABLE [dbo].[tbl_ErrorLog] ADD  DEFAULT (getutcdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[tbl_ErrorLog] ADD  DEFAULT (replace(CONVERT([varchar](36),newid()),'-','')) FOR [error_log_guid]
GO
ALTER TABLE [dbo].[tbl_Interview] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tbl_Interview] ADD  DEFAULT (getutcdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[tbl_Interview] ADD  DEFAULT ('SYSTEM') FOR [created_by]
GO
ALTER TABLE [dbo].[tbl_Interview] ADD  DEFAULT (replace(CONVERT([varchar](36),newid()),'-','')) FOR [interview_guid]
GO
ALTER TABLE [dbo].[tbl_JobPosting] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tbl_JobPosting] ADD  DEFAULT (getutcdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[tbl_JobPosting] ADD  DEFAULT ('SYSTEM') FOR [created_by]
GO
ALTER TABLE [dbo].[tbl_JobPosting] ADD  DEFAULT (replace(CONVERT([varchar](36),newid()),'-','')) FOR [job_posting_guid]
GO
ALTER TABLE [dbo].[tbl_User] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tbl_User] ADD  DEFAULT (getutcdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[tbl_User] ADD  DEFAULT ('SYSTEM') FOR [created_by]
GO
ALTER TABLE [dbo].[tbl_User] ADD  DEFAULT (replace(CONVERT([varchar](36),newid()),'-','')) FOR [user_guid]
GO
ALTER TABLE [dbo].[tbl_Application]  WITH CHECK ADD  CONSTRAINT [FK_Application_Candidate] FOREIGN KEY([candidate_id])
REFERENCES [dbo].[tbl_User] ([user_id])
GO
ALTER TABLE [dbo].[tbl_Application] CHECK CONSTRAINT [FK_Application_Candidate]
GO
ALTER TABLE [dbo].[tbl_Application]  WITH CHECK ADD  CONSTRAINT [FK_Application_JobPosting] FOREIGN KEY([job_posting_id])
REFERENCES [dbo].[tbl_JobPosting] ([job_posting_id])
GO
ALTER TABLE [dbo].[tbl_Application] CHECK CONSTRAINT [FK_Application_JobPosting]
GO
ALTER TABLE [dbo].[tbl_Interview]  WITH CHECK ADD  CONSTRAINT [FK_Interview_Application] FOREIGN KEY([application_id])
REFERENCES [dbo].[tbl_Application] ([application_id])
GO
ALTER TABLE [dbo].[tbl_Interview] CHECK CONSTRAINT [FK_Interview_Application]
GO
ALTER TABLE [dbo].[tbl_Interview]  WITH CHECK ADD  CONSTRAINT [FK_Interview_User] FOREIGN KEY([interviewer_id])
REFERENCES [dbo].[tbl_User] ([user_id])
GO
ALTER TABLE [dbo].[tbl_Interview] CHECK CONSTRAINT [FK_Interview_User]
GO
ALTER TABLE [dbo].[tbl_JobPosting]  WITH CHECK ADD  CONSTRAINT [FK_JobPosting_JobRole] FOREIGN KEY([job_role_id])
REFERENCES [dbo].[mst_JobRole] ([job_role_id])
GO
ALTER TABLE [dbo].[tbl_JobPosting] CHECK CONSTRAINT [FK_JobPosting_JobRole]
GO
/****** Object:  StoredProcedure [dbo].[usp_BulkInsertUsers]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_BulkInsertUsers]
(
    @Users UserBulkInsert_Type READONLY
)
AS
BEGIN

    INSERT INTO tbl_User
    (
        full_name,
        email,
        phone,
        role,
        username,
        password_hash,
        created_by
    )
    SELECT
        FullName,
        Email,
        Phone,
        Role,
        Username,
        PasswordHash,
        CreatedBy
    FROM @Users;

END;
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteApplication]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DeleteApplication]
(
    @ApplicationGuid VARCHAR(32),

    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM tbl_Application
            WHERE application_guid = @ApplicationGuid
        )
        BEGIN
            THROW 50001,
                  'Application not found.',
                  1;
        END

        UPDATE tbl_Application

        SET
            is_active = 0,

            updated_on = GETUTCDATE(),

            updated_by = @UpdatedBy

        WHERE application_guid = @ApplicationGuid;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Application',
            'usp_DeleteApplication';

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteInterview]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DeleteInterview]
(
    @InterviewGuid VARCHAR(32),

    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM tbl_Interview
            WHERE interview_guid = @InterviewGuid
        )
        BEGIN
            THROW 50001,
                  'Interview not found.',
                  1;
        END

        UPDATE tbl_Interview

        SET
            is_active = 0,

            updated_on = GETUTCDATE(),

            updated_by = @UpdatedBy

        WHERE interview_guid = @InterviewGuid;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Interview',
            'usp_DeleteInterview';

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteJobPosting]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DeleteJobPosting]
(
    @JobPostingGuid VARCHAR(32),

    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM tbl_JobPosting
            WHERE job_posting_guid = @JobPostingGuid
        )
        BEGIN
            THROW 50001,
                  'Job Posting not found.',
                  1;
        END

        UPDATE tbl_JobPosting

        SET
            is_active = 0,

            updated_on = GETUTCDATE(),

            updated_by = @UpdatedBy

        WHERE job_posting_guid = @JobPostingGuid;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Job',
            'usp_DeleteJobPosting';

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteUser]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DeleteUser]
(
    @UserGuid VARCHAR(32),
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM tbl_User
            WHERE user_guid = @UserGuid
        )
        BEGIN
            THROW 50001,
                  'User not found.',
                  1;
        END

        UPDATE tbl_User
        SET
            is_active = 0,
            updated_on = GETUTCDATE(),
            updated_by = @UpdatedBy
        WHERE user_guid = @UserGuid;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'User',
            'usp_DeleteUser';

        THROW;

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllUsers]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetAllUsers]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT
            user_guid,
            full_name,
            email,
            phone,
            role,
            username,
            is_active,
            created_on
        FROM tbl_User
        WHERE is_active = 1
        ORDER BY user_id;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'User',
            'usp_GetAllUsers';

        THROW;

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetApplicationByGuid]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetApplicationByGuid]
(
    @ApplicationGuid VARCHAR(32)
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        SELECT *
        FROM tbl_Application
        WHERE application_guid = @ApplicationGuid;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Application',
            'usp_GetApplicationByGuid';

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetApplications]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetApplications]
(
    @PageNumber INT = 1,
    @PageSize INT = 10
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        SELECT

            COUNT(*) OVER() AS total_records,

            a.application_guid,

            u.full_name AS candidate_name,

            jp.job_title,

            a.application_status,

            a.applied_date

        FROM tbl_Application a

        INNER JOIN tbl_User u
            ON a.candidate_id = u.user_id

        INNER JOIN tbl_JobPosting jp
            ON a.job_posting_id = jp.job_posting_id

        ORDER BY a.application_id

        OFFSET (@PageNumber - 1) * @PageSize ROWS
        FETCH NEXT @PageSize ROWS ONLY;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Application',
            'usp_GetApplications';

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetInterviewByGuid]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetInterviewByGuid]
(
    @InterviewGuid VARCHAR(32)
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        SELECT *
        FROM tbl_Interview
        WHERE interview_guid = @InterviewGuid;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Interview',
            'usp_GetInterviewByGuid';

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetInterviews]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[usp_GetInterviews]
(
    @PageNumber INT = 1,
    @PageSize INT = 10
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        SELECT

            COUNT(*) OVER() AS total_records,

            i.interview_guid,

            u.full_name AS interviewer_name,

            i.interview_date,

            i.feedback,

            i.result

        FROM tbl_Interview i

        INNER JOIN tbl_User u
            ON i.interviewer_id = u.user_id

        WHERE i.is_active = 1

        ORDER BY i.interview_id

        OFFSET (@PageNumber - 1) * @PageSize ROWS
        FETCH NEXT @PageSize ROWS ONLY;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ISNULL(
            ERROR_PROCEDURE(),
            'usp_GetInterviews');

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Interview',
            'usp_GetInterviews';

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetJobPostingByGuid]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetJobPostingByGuid]
(
    @JobPostingGuid VARCHAR(32)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT
            jp.job_posting_guid,
            jp.job_title,
            jr.role_name,
            jp.openings,
            jp.description,
            jp.start_date,
            jp.end_date,
            jp.is_active,
            jp.created_on
        FROM tbl_JobPosting jp
        INNER JOIN mst_JobRole jr
            ON jp.job_role_id = jr.job_role_id
        WHERE jp.job_posting_guid = @JobPostingGuid;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Job',
            'usp_GetJobPostingByGuid';

        THROW;

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetJobPostings]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetJobPostings]
(
    @PageNumber INT = 1,
    @PageSize INT = 10
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT
            COUNT(*) OVER() AS total_records,

            jp.job_posting_guid,

            jp.job_title,

            jr.role_name,

            jp.openings,

            jp.start_date,

            jp.end_date,

            jp.is_active

        FROM tbl_JobPosting jp

        INNER JOIN mst_JobRole jr
            ON jp.job_role_id = jr.job_role_id

        ORDER BY jp.job_posting_id

        OFFSET (@PageNumber - 1) * @PageSize ROWS
        FETCH NEXT @PageSize ROWS ONLY;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Job',
            'usp_GetJobPostings';

        THROW;

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUserByGuid]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetUserByGuid]
(
    @UserGuid VARCHAR(32)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT
            user_guid,
            full_name,
            email,
            phone,
            role,
            username,
            is_active,
            created_on,
            updated_on
        FROM tbl_User
        WHERE user_guid = @UserGuid
          AND is_active = 1;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'User',
            'usp_GetUserByGuid';

        THROW;

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUserByUsername]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[usp_GetUserByUsername]
(
    @Username VARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT *
        FROM tbl_User
        WHERE username = @Username
          AND is_active = 1;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Auth',
            'usp_GetUserByUsername';

        THROW;

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUsers]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetUsers]
(
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @Role VARCHAR(50) = NULL
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        SELECT
            COUNT(*) OVER() AS total_records,
            full_name,
            email,
            phone,
            role,
            username,
            is_active,
            user_guid
        FROM tbl_User
        WHERE is_active = 1
          AND (@Role IS NULL OR role = @Role)
        ORDER BY full_name
        OFFSET (@PageNumber - 1) * @PageSize ROWS
        FETCH NEXT @PageSize ROWS ONLY;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ISNULL(ERROR_PROCEDURE(), 'usp_GetUsers');

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'User',
            'usp_GetUsers';

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertApplication]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsertApplication]
(
    @CandidateId INT,
    @JobPostingGuid VARCHAR(32),
    @Remarks VARCHAR(1000),
    @CreatedBy VARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        DECLARE @JobPostingId INT;

        SELECT
            @JobPostingId = job_posting_id
        FROM tbl_JobPosting
        WHERE job_posting_guid = @JobPostingGuid
          AND is_active = 1;

        IF @JobPostingId IS NULL
        BEGIN
            THROW 50002,
                  'Invalid Job Posting Guid.',
                  1;
        END

        IF EXISTS
        (
            SELECT 1
            FROM tbl_Application
            WHERE candidate_id = @CandidateId
              AND job_posting_id = @JobPostingId
              AND is_active = 1
        )
        BEGIN
            THROW 50001,
                  'Already applied for this job.',
                  1;
        END

        INSERT INTO tbl_Application
        (
            candidate_id,
            job_posting_id,
            application_status,
            remarks,
            created_by
        )
        VALUES
        (
            @CandidateId,
            @JobPostingId,
            'Applied',
            @Remarks,
            @CreatedBy
        );

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Application',
            'usp_InsertApplication';

        THROW;

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertErrorLog]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsertErrorLog]
(
    @ErrorMessage VARCHAR(MAX),
    @StackTrace VARCHAR(MAX),
    @ControllerName VARCHAR(200),
    @MethodName VARCHAR(200)
)
AS
BEGIN
    INSERT INTO tbl_ErrorLog
    (
        error_message,
        stack_trace,
        controller_name,
        method_name
    )
    VALUES
    (
        @ErrorMessage,
        @StackTrace,
        @ControllerName,
        @MethodName
    );
END;

GO
/****** Object:  StoredProcedure [dbo].[usp_InsertInterview]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsertInterview]
(
    @ApplicationGuid VARCHAR(32),
    @InterviewerGuid VARCHAR(32),
    @InterviewDate DATETIME,
    @Feedback VARCHAR(2000),
    @Result VARCHAR(50),
    @CreatedBy VARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        DECLARE @ApplicationId INT;
        DECLARE @InterviewerId INT;

        SELECT
            @ApplicationId = application_id
        FROM tbl_Application
        WHERE application_guid = @ApplicationGuid
          AND is_active = 1;

        SELECT
            @InterviewerId = user_id
        FROM tbl_User
        WHERE user_guid = @InterviewerGuid
          AND is_active = 1;

        IF @ApplicationId IS NULL
        BEGIN
            THROW 50002,
                  'Invalid Application Guid.',
                  1;
        END

        IF @InterviewerId IS NULL
        BEGIN
            THROW 50003,
                  'Invalid Interviewer Guid.',
                  1;
        END

        INSERT INTO dbo.tbl_Interview
        (
            application_id,
            interviewer_id,
            interview_date,
            feedback,
            result,
            created_by
        )
        VALUES
        (
            @ApplicationId,
            @InterviewerId,
            @InterviewDate,
            @Feedback,
            @Result,
            @CreatedBy
        );

    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ISNULL(
            ERROR_PROCEDURE(),
            'usp_InsertInterview');

        EXEC dbo.usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Interview',
            'usp_InsertInterview';

        THROW;

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertJobPosting]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsertJobPosting]
(
    @JobRoleId INT,
    @JobTitle VARCHAR(200),
    @Openings INT,
    @Description VARCHAR(1000),
    @StartDate DATE,
    @EndDate DATE,
    @CreatedBy VARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM mst_JobRole
            WHERE job_role_id = @JobRoleId
        )
        BEGIN
            THROW 50001,
                  'Job Role not found.',
                  1;
        END

        INSERT INTO tbl_JobPosting
        (
            job_role_id,
            job_title,
            openings,
            description,
            start_date,
            end_date,
            created_by
        )
        VALUES
        (
            @JobRoleId,
            @JobTitle,
            @Openings,
            @Description,
            @StartDate,
            @EndDate,
            @CreatedBy
        );

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Job',
            'usp_InsertJobPosting';

        THROW;

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertUser]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsertUser]
(
    @FullName VARCHAR(200),
    @Email VARCHAR(200),
    @Phone VARCHAR(20),
    @Role VARCHAR(50),
    @Username VARCHAR(100),
    @PasswordHash VARCHAR(500),
    @CreatedBy VARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF EXISTS
        (
            SELECT 1
            FROM tbl_User
            WHERE username = @Username
        )
        BEGIN
            THROW 50001,
                  'Username already exists.',
                  1;
        END

        IF EXISTS
        (
            SELECT 1
            FROM tbl_User
            WHERE email = @Email
        )
        BEGIN
            THROW 50002,
                  'Email already exists.',
                  1;
        END

        INSERT INTO tbl_User
        (
            full_name,
            email,
            phone,
            role,
            username,
            password_hash,
            created_by
        )
        VALUES
        (
            @FullName,
            @Email,
            @Phone,
            @Role,
            @Username,
            @PasswordHash,
            @CreatedBy
        );

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'User',
            'usp_InsertUser';

        THROW;

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateApplication]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdateApplication]
(
    @ApplicationGuid VARCHAR(32),

    @ApplicationStatus VARCHAR(50),

    @Remarks VARCHAR(1000),

    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM tbl_Application
            WHERE application_guid = @ApplicationGuid
        )
        BEGIN
            THROW 50001,
                  'Application not found.',
                  1;
        END

        UPDATE tbl_Application

        SET
            application_status = @ApplicationStatus,

            remarks = @Remarks,

            updated_on = GETUTCDATE(),

            updated_by = @UpdatedBy

        WHERE application_guid = @ApplicationGuid;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Application',
            'usp_UpdateApplication';

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateInterview]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdateInterview]
(
    @InterviewGuid VARCHAR(32),

    @Feedback VARCHAR(2000),

    @Result VARCHAR(50),

    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM tbl_Interview
            WHERE interview_guid = @InterviewGuid
        )
        BEGIN
            THROW 50001,
                  'Interview not found.',
                  1;
        END

        UPDATE tbl_Interview

        SET
            feedback = @Feedback,

            result = @Result,

            updated_on = GETUTCDATE(),

            updated_by = @UpdatedBy

        WHERE interview_guid = @InterviewGuid;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Interview',
            'usp_UpdateInterview';

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateJobPosting]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdateJobPosting]
(
    @JobPostingGuid VARCHAR(32),

    @JobRoleId INT,

    @JobTitle VARCHAR(200),

    @Openings INT,

    @Description VARCHAR(1000),

    @StartDate DATE,

    @EndDate DATE,

    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM tbl_JobPosting
            WHERE job_posting_guid = @JobPostingGuid
        )
        BEGIN
            THROW 50001,
                  'Job Posting not found.',
                  1;
        END

        UPDATE tbl_JobPosting

        SET
            job_role_id = @JobRoleId,

            job_title = @JobTitle,

            openings = @Openings,

            description = @Description,

            start_date = @StartDate,

            end_date = @EndDate,

            updated_on = GETUTCDATE(),

            updated_by = @UpdatedBy

        WHERE job_posting_guid = @JobPostingGuid;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'Job',
            'usp_UpdateJobPosting';

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateUser]    Script Date: 04-06-2026 12:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdateUser]
(
    @UserGuid VARCHAR(32),
    @FullName VARCHAR(200),
    @Email VARCHAR(200),
    @Phone VARCHAR(20),
    @Role VARCHAR(50),
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM tbl_User
            WHERE user_guid = @UserGuid
        )
        BEGIN
            THROW 50001,
                  'User not found.',
                  1;
        END

        UPDATE tbl_User
        SET
            full_name = @FullName,
            email = @Email,
            phone = @Phone,
            role = @Role,
            updated_on = GETUTCDATE(),
            updated_by = @UpdatedBy
        WHERE user_guid = @UserGuid;

    END TRY

    BEGIN CATCH

        DECLARE @ErrorMessage VARCHAR(MAX);
        DECLARE @StackTrace VARCHAR(MAX);

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @StackTrace = ERROR_PROCEDURE();

        EXEC usp_InsertErrorLog
            @ErrorMessage,
            @StackTrace,
            'User',
            'usp_UpdateUser';

        THROW;

    END CATCH
END;
GO
USE [master]
GO
